/* Styling Navbar and inputs */
/****************************/
.navbar-brand-text {
    color: #ff0b71 !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.19);
}

.navbar {

    color: #f5d4eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container {
    display: flex;
    justify-content: center;

}

.form-container form {

    padding: 30px;
    margin: 40px;
}

.form-name {

    margin-left: 90px;
    margin-bottom: 10px;
}

.form-button {
    margin-left: 80px;
}

.form {
    margin-left: 55px;
}

/*End of Styling Navbar and inputs*/

.carousel-pic {
    height: 500px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}

.card img {
    height: 200px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.navbar-collapse {
    justify-content: space-between;
}

.navbar-text {
    margin-right: 10px;
}


.image-container {

    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}



.image-img-top {


    margin-bottom: 20px;
    margin-right: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;

}

.img-thumbnail {
    margin: 20px;
}

.container-text {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-container {
    background-color: #f8aee2;
    margin-top: 20px;
}

.footer-text {
    text-align: center;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}